## Lesson 6 Strings

- String syntax

In [4]:
x="Pluto is a planet"

In [5]:
x

'Pluto is a planet'

In [6]:
y='Pluto is a planet'

In [7]:
y

'Pluto is a planet'

In [8]:
x==y

True

In [10]:
print("Pluto's a planet!")

Pluto's a planet!

In [12]:
print('My dog is named "Pluto"')

My dog is named "Pluto"

In [13]:
hello="hello\nworld"

In [14]:
print(hello)

hello
world

In [15]:
print("hello")
print("world")
print("hello", end="")
print("pluto", end="")

hello
world
hellopluto

- Strings are sequences

In [16]:
planet="Pluto"

In [17]:
planet

'Pluto'

In [18]:
planet[0]

'P'

In [19]:
planet[-3:]

'uto'

In [20]:
len(planet)

5

In [21]:
[char+'!' for char in planet]

['P!', 'l!', 'u!', 't!', 'o!']

- **A major way in which strings differ from lists is that they are immutable.**

- String methods

In [22]:
claim="Pluto is a planet!"

In [23]:
claim

'Pluto is a planet!'

In [24]:
claim.upper()

'PLUTO IS A PLANET!'

In [25]:
claim.lower()

'pluto is a planet!'

In [28]:
claim.index("plan") #searching for the first index of a substring

11

In [30]:
claim.startswith(planet)

True

- Going between strings and lists

In [32]:
words=claim.split()

In [33]:
words

['Pluto', 'is', 'a', 'planet!']

In [34]:
datestr="2020-09-02"

In [35]:
datestr

'2020-09-02'

In [39]:
year, month, day=datestr.split("-")

In [40]:
print(year, month, day)

2020 09 02

In [41]:
"/".join([month, day, year])

'09/02/2020'

- Building strings with ```.format()```
- Resource:
  - https://pyformat.info/
  - https://docs.python.org/3/library/string.html#formatstrings

In [42]:
planet+", we miss you"

'Pluto, we miss you'

In [43]:
position=9

In [44]:
"{}, you'll always be the {}th planet to me".format(planet, position)

"Pluto, you'll always be the 9th planet to me"

In [46]:
pluto_mass=1.303*10**22
earth_mass=5.9722*10**24
population=52910390

"{} weights about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
planet, pluto_mass, pluto_mass/earth_mass, population, )

"Pluto weights about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [54]:
"{1}{0}".format(1,2)

'21'

- Dictionaries: ```dict.keys()```, ```dict.values()```, ```dict.items()```

In [55]:
numbers={"one": 1, "two": 2}

In [56]:
numbers

{'one': 1, 'two': 2}

In [57]:
type(numbers)

dict

In [58]:
numbers["one"]

1

In [60]:
numbers["eleven"]=11

In [61]:
numbers

{'one': 1, 'two': 2, 'eleven': 11}

In [62]:
numbers["one"]="Pluto"

In [63]:
numbers

{'one': 'Pluto', 'two': 2, 'eleven': 11}

In [64]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [65]:
planet_to_initial={planet: planet[0] for planet in planets}

In [68]:
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [69]:
"Saturn" in planet_to_initial

True

In [70]:
"Betelgeuse" in planet_to_initial

False

In [71]:
numbers

{'one': 'Pluto', 'two': 2, 'eleven': 11}

In [72]:
for k in numbers:
    print("{}={}".format(k, numbers[k]))

one=Pluto
two=2
eleven=11

In [73]:
numbers.keys()

dict_keys(['one', 'two', 'eleven'])

In [74]:
numbers.values()

dict_values(['Pluto', 2, 11])

In [77]:
numbers.items()

dict_items([('one', 'Pluto'), ('two', 2), ('eleven', 11)])

In [83]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet, initial))

Mercury begins with "M"
Venus begins with "V"
Earth begins with "E"
Mars begins with "M"
Jupiter begins with "J"
Saturn begins with "S"
Uranus begins with "U"
Neptune begins with "N"

## Lesson 6 exercise

### Problem 1

In [85]:
def is_valid_zip(zip_code):
    """Returns whether the input string is a valid (5 digit) zip code
    """
    return len(zip_code)==5 and zip_code.isdigit()

In [87]:
is_valid_zip("12345")

True

In [88]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]

In [89]:
doc_list

['The Learn Python Challenge Casino.', 'They bought a car', 'Casinoville']

### Problem 2

In [154]:
def word_search(documents, keyword):
    # list to hold the indices of matching documents
    indices = [] 
    # Iterate through the indices (i) and elements (doc) of documents
    for i, doc in enumerate(documents):
        # Split the string doc into a list of words (according to whitespace)
        tokens = doc.split()
        # Make a transformed list where we 'normalize' each word to facilitate matching.
        # Periods and commas are removed from the end of each word, and it's set to all lowercase.
        normalized = [token.rstrip('.,').lower() for token in tokens]
        # Is there a match? If so, update the list of matching indices.
        if keyword.lower() in normalized:
            indices.append(i)
    return indices

In [155]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
word_search(doc_list, 'casino')

[0]

## Problem 3

In [156]:
def multi_word_search(documents, keywords):
    keyword_to_indices={}
    for keyword in keywords:
        keyword_to_indices[keyword]=word_search(documents, keyword)
    return keyword_to_indices

In [157]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
keywords = ['casino', 'they']
multi_word_search(doc_list, keywords)

{'casino': [0, 1], 'they': [1]}